* {
    font-family: "Oswald", sans-serif;
}

html {
    font-size: 62.5%; 
    background-color: #1652a5; 
    box-sizing: border-box;
}

body { 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wrapper {
    /* border: 1px solid green; */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 62rem;
}

.title {
    height: 4rem;
    display: block;
    margin-bottom: 3rem;
}

h1 {
    text-align: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    font-weight: 100;
    text-transform: lowercase;
}

#container {
    width: 35rem;
    height: 53rem;
    border: 1rem double rgb(189, 177, 177);
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0; 
    padding: 1rem 1rem 1rem 1rem;
}

#display {
    width: 33.75rem;
    height: 8rem;
    background-color: #33373d;
    border-radius: 5rem;
    margin: .625rem .625rem;
    box-shadow: 0.4rem 0.5rem 1.5rem rgba(0,0,0,.2);
}

#display__numbers {
    text-align: right;
    line-height: 8rem;
    color: #235858;
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    margin-right: 3rem;
}

button {
    font-size: 3rem;
    height: 7rem;
    width: 7rem;
    border-radius: 5rem;
    border-width: 0;
    border-style: none;
    margin: .875rem .875rem;
    box-shadow: .4rem .5rem 1.5rem rgba(0,0,0,.2);
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: translateY(.2rem);
    box-shadow: .4rem .5rem 1.5rem rgba(0,0,0,.2);
    border: none;
}

button:focus {
    outline:0;
}

.btn--number {
    color: #235858;
    background-color: #fff;
    margin: .875rem .875rem;
    border-width: 0;
}

.btn--other {
    color: #fff;
    background-color: #acc4e4;
    margin: .875rem .875rem;
    border-width: 0;
}


.btn--decimal {
    color: #235858;
    background-color: #fff;
    margin: .875rem .875rem;
    border-width: 0;
}



.btn--long-horizontal {
    width: 15.5rem;
    margin: .875rem .875rem;
    border-width: 0;
}

.btn--long-vertical {
    height: 15.5rem;
    margin: .875rem .875rem;
    border-width: 0;
    float: right;
}

.btn {
    box-shadow: 0 .5rem 1rem rgba(151, 98, 98, 0.2); 
}

/*footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    position: absolute;
    display: block;
    width: 40rem;
    text-align: center;
    margin: auto;
    right: 0;
    bottom: 1.5rem;
    left: 0;
    text-transform: lowercase;
}

footer a {
    font-family: 'Courier New', Courier, monospace;
}

footer a:visited {
    color: #000;
}*/
  